
.wrapper {
    border-radius: 0%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
  }
  .content {
    max-width: 600px;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    border-radius: 15px;
    display: flex;
  }
  mat-card{
    box-shadow: none;
  }
  #fy{
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(211, 211, 211);
  }
  .bejegyzesek{
    margin: auto;
    max-width: 375px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    border-bottom: 1px solid gray;
    border-radius: 0;
  }
  .fejlec{
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  img{
    max-width: 375px;
    width: 100%;
    height: 375px;
    border-radius: 5px;
  }
  .action-icons {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.vege{
  margin-left: auto;
}
.highlighted {
  transform: scale(1.2);
  transition: 0.2s;
}
